.witnesses {
  width: 100%;
  max-width: 38.4rem;
  height: 100%;
  border-radius: 0.8rem;
  background: rgba(241, 240, 245, 0.55);
  padding: 3rem;

  .user {
    @include flex($align: center, $justify: space-between);
    margin-bottom: 2rem;

    strong {
      font-family: var(--font-secondary);
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -0.05rem;
      color: var(--color-gray-500);
    }
  }

  p {
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--color-gray-400);
  }
}

// @include media("lg") {
//   .witnesses {
//     min-height: 24.2rem;
//   }
// }

// @include media("md") {
//   .witnesses {
//     min-height: 27rem;
//   }
// }

// @include media("sm") {
//   .witnesses {
//     min-height: 29.6rem;
//   }
// }
